@font-face {
  font-family: 'Adventure';
  src: url('adventure/Adventure.otf');
}

@font-face {
  font-family: 'Adventure Hollow';
  src: url('adventure/Adventure\ Hollow.otf');
}

body {
  margin: 0;
}

main {
  margin: 0;
  display: flex;
}

h1{
  position: absolute;
  text-align: center;
  color: white;
  width: 100vw;
  background-color: aqua;
  margin: 0 auto;
  padding: .3em;
  font-family: Adventure;
  font-size: 30pt;
}

aside {
  height: 100vh;
  width: 15vw;
  position: absolute;
  margin-top: 100px;
  font-family: 'Adventure'
}

.bg-animation {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}
